@import '@fontsource/roboto';

//generali
$font: 'Roboto', sans-serif;
$container-w: 1270px;

//colori
$color-primary: rgb(255, 106, 0);
$color-link: rgb(232, 232, 232);
$color-discount: red;
$color-eco: green;

